.display-stats {
  background-color: white;
  position: fixed;
  height: 5vw;
  left: -5%;
  top: 81%;
	transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg)
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 99vh;
  overflow: hidden;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 30%;;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 10px 3px;
  position: relative;
}

.card-front, .card-back {
  height: 21vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back {
  background-image: url(../images/card-back.png);
  background-size: 100% 100%;
}

.modal {
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  height: 60%;
  background-size: 100% 100%;
  border: 5px solid black;
  background-color: white;
  text-align: center;
}

.win-modal, .lose-modal {
  background-image: url(../images/modal-background1.png);
}

.modal h1 {
  color: yellow;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 50px;
  font-family: "Uncial Antiqua", cursive;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.modal button {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Uncial Antiqua", cursive;
  border: 5px solid black;
}

.modal button:hover {
  background-color: lightskyblue;
}

.archer-win {
  max-width: 230px;
  position: absolute;
  bottom: 3%;
  left: 0.1%;
}

.king-win {
  max-width: 230px;
  position: absolute;
  bottom: 3%;
  left: 25%;
}

.troll-dead {
  max-width: 35vw;
  position: absolute;
  bottom: 3%;
  right: 10%;
}

.warrior-win {
  max-width: 190px;
  position: absolute;
  bottom: 3%;
  left: 13%;
}

.king-lose {
  position: absolute;
  max-width: 230px;
  bottom: 3%;
  left: 43%;
}

.troll-attack {
  position: absolute;
  width: 400px;
  bottom: 3%;
  left: 30%;
}

.row {
  justify-content: center;
}

  .intro-modal {
    background-image: url(../images/modal-background1.png);
  }

  .intro-modal img {
    position: absolute;
    left: 35%;
    bottom: 3%;
    width: 10%;
  }

  .intro-text {
    height: 35%;
    width: 43%;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 45%;
    border-radius: 5%;
    background-color: beige;
    border: 2px solid black;
  }

  .intro-text p {
    font-size: 11px;
    font-family: "Uncial Antiqua", cursive;
  }

/*-----------------------TROLL DISTANCE METER---------------------------------*/
.forest-walk {
  background-image: url(../images/distance-bg.png);
}

.dungeon-walk {
  background-image: url(../images/dungeon-background.png);
}

.desert-walk {
  background-image: url(../images/desert2-background.png);
}

.troll-distance {
  max-width: 70%;
  height: 100px;
  margin: 50px auto 0;
  background-size: contain;
  position: relative;
  border: 3px solid black;
}
.king-idle{
  position: absolute;
  height: 15vh;
  left: 1%;
}

.troll-walking {
  position: absolute;
  right: 1%;
  height: 15vh;
  transition-duration: 4000ms;
}
/*-------------------------------GAME STATS-----------------------------------*/

aside {
  display: flex;
  flex-wrap: wrap;
}

aside div {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/game-stats.png);
  background-size: 100% 100%;
  margin: 5px;
}

.stat-font {
  font-size: 26px;
  margin-top: 34px;
  color: gold;
  letter-spacing: 2.5px;
  font-family: "Bangers", cursive;
}

/*-------------------------BODY BACKGROUNDS-----------------------------------*/

.cave {
  background-image: url(../images/cave-background.png);
}

.forest {
  background-image: url(../images/main-background.png);
}

.desert {
  background-image: url(../images/desert-background.png);
}

/*------------------------CARD FRONTS------------------------------------------*/
.archer-shooting {
  background-image: url(../images/archer-shooting.gif), radial-gradient(white, rgb(255, 240, 125), transparent 70%);

}

.elemental-slashing {
  background-image: url(../images/elemental-slashing.gif), radial-gradient(white, rgb(255, 240, 125), transparent 70%);
}

.mage-slashing {
  background-image: url(../images/mage-slashing.gif), radial-gradient(white, rgb(255, 240, 125), transparent 70%);
}

.monk-slashing {
  background-image: url(../images/monk-slashing.gif), radial-gradient(white, rgb(255, 240, 125), transparent 70%);
}

.ninja-slashing {
  background-image: url(../images/ninja-slashing.gif), radial-gradient(white, rgb(255, 240, 125), transparent 70%);
}

.orc-slashing {
  background-image: url(../images/orc-slashing.gif), radial-gradient(white, rgb(255, 240, 125), transparent 70%);
}

.pirate-slashing {
  background-image: url(../images/pirate-slashing.gif), radial-gradient(white, rgb(255, 240, 125), transparent 70%);
}

.sergeant-slashing {
  background-image: url(../images/sergeant-slashing.gif), radial-gradient(white, rgb(255, 240, 125), transparent 70%);
}

.warrior-slashing {
  background-image: url(../images/warrior-slashing.gif), radial-gradient(white, rgb(255, 240, 125), transparent 70%);
}

/*---------------------CARD BACK ANIMATIONS-----------------------------------*/
.card-back:hover {
   animation: shake-cards .1s infinite alternate;
   background-image: url(../images/card-back.png), radial-gradient(white, rgb(255, 240, 125), transparent 70%);

}

@keyframes shake-cards {
  0% { transform: translate(-8px, -14px); }
  33% { transform: translate(-10px, -14px); }
  66% { transform: translate(-10px, -16px); }
  100% { transform: translate(-8px, -16px); }
}
/*-------------------------INTRO PAGE ANIMATIONS------------------------------*/
.intro-start {
    position: relative;
    height: 80vh;
    width: 98vw;
    text-align: center;
    overflow: hidden;
  }

  .intro-start-button {
    width: 25%;
    height: 15vh;
    font-size: 5vh;
    letter-spacing: 0.3vw;
    color: gold;
    font-family: "Bangers", cursive;
    background-color: transparent;
    border: none;
    background-image: url(../images/game-stats.png);
    background-size: 100% 100%;
  }

  .intro-start-button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .intro-image-troll1 {
    position: absolute;
    width: 15%;
    top: 35%;
    right: 10%;
    animation-duration: 17s;
    animation-name: slideIn1;
    animation-iteration-count: infinite;
  }

  .intro-image-king {
    position: absolute;
    width: 11%;
    top: 35%;
    right: 0%;
    animation-duration: 17s;
    animation-name: slideIn2;
    animation-iteration-count: infinite;
  }

  .intro-image-troll2 {
    position: absolute;
    width: 15%;
    top: 50%;
    left: 0%;
    animation-duration: 15s;
    animation-name: slideIn3;
    animation-iteration-count: infinite;
  }

  .intro-image-archer {
    position: absolute;
    width: 11%;
    top: 50%;
    left: 0;
    animation-duration: 15s;
    animation-name: slideIn4;
    animation-iteration-count: infinite;
  }

  .intro-image-troll3 {
    position: absolute;
    width: 15%;
    top: 70%;
    right: 5%;
    animation-duration: 13s;
    animation-name: slideIn1;
    animation-iteration-count: infinite;
  }

  .intro-image-warrior {
    position: absolute;
    width: 11%;
    top: 70%;
    right: 0;
    animation-duration: 13s;
    animation-name: slideIn2;
    animation-iteration-count: infinite;
  }
  @keyframes slideIn1 {
    from {
      position: absolute;
      right: -10%;
    }

    to {
      position: absolute;
      right: 120%;
    }
  }

  @keyframes slideIn2 {
    from {
      position: absolute;
      right: -20%;
    }

    to {
      position: absolute;
      right: 110%;
    }
  }

  @keyframes slideIn3 {
    from {
      position: absolute;
      left: -10%;
    }

    to {
      position: absolute;
      left: 120%;
    }
  }

  @keyframes slideIn4 {
    from {
      position: absolute;
      left: -20%;
    }

    to {
      position: absolute;
      left: 110%;
    }
  }

/*----------------------------------------------------------------------------*/
@media only screen
  and (max-device-width: 599px) {
    header img {
      width: 100%;
    }
    .intro-text p {
      font-size: 12px;
    }
    .intro-start-button {
      width: 45%;
      height: 8vh;
      font-size: 3vh;
    }
    .container {
      width: 95%;
    }
    .header-row {
      margin-bottom: 0px;
    }
    .stat-font {
      font-size: 11px;
      margin-top: 14%;
      color: gold;
      letter-spacing: .5px;
      font-family: "Bangers", cursive;
    }

    .stat-column {
      display: none;
    }

    .game-row {
      height: 79vh;
    }

    aside div {
      width: 90%;
      height: 8vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../images/game-stats.png);
      background-size: 100% 100%;
      margin: 1px 0px;
    }

    .card {
      height: 10%;
      width: 33%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 0;
      position: relative;
    }

    .card-front {
      height: 14vh;
      width: 100%;
      background-size: 100% 100%;
    }

    .card-back {
      height: 13vh;
      width: 98%;
    }

    .troll-distance {
      max-width: 95%;
      margin: 20px auto 0;
      height: 8vh;
    }

    .troll-walking, .king-idle {
      height: 8vh;
    }

    .troll-dead {
      max-width: 35vw;
    }

    .king-win, .king-lose {
      max-width: 15%;
    }

    .warrior-win {
      max-width: 12%;
    }

    .archer-win {
      max-width: 13%;
    }

    .win-modal h1, .lose-modal h1 {
      font-size: 25px;
    }

    .win-modal button, .lose-modal button {
      font-size: 12px;
      width: 150px;
      height: 50px;
      border: 2px solid black;
    }

    .intro-image-troll1 {
    position: absolute;
    width: 28%;
    top: 45%;
  }
    .intro-image-king {
    position: absolute;
    width: 20%;
    top: 46%;
    }

    .intro-image-troll2 {
    position: absolute;
    width: 28%;
    top: 60%;
  }

  .intro-image-archer {
    position: absolute;
    width: 20%;
    top: 62%;
  }

  .intro-image-troll3 {
    position: absolute;
    width: 28%;
    top: 80%;
  }

  .intro-image-warrior {
    position: absolute;
    width: 20%;
    top: 82%;
  }
  }
@media only screen
  and (min-device-width:600px)
  and (max-device-width: 813px) {
    header img {
      width: 300px;
    }

    .intro-text p {
      font-size: 12px;
    }

    .container {
      width: 95%;
    }
    .header-row {
      margin-bottom: 0px;
    }
    .stat-font {
      font-size: 11px;
      margin-top: 14%;
      color: gold;
      letter-spacing: .5px;
      font-family: "Bangers", cursive;
    }

    aside div {
      width: 90%;
      height: 8vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../images/game-stats.png);
      background-size: 100% 100%;
      margin: 1px 0px;
    }

    .card {
      height: 30%;;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 0;
      position: relative;
    }

    .card-front {
      height: 22vh;
      width: 100%;
      background-size: 100% 100%;
    }

    .card-back {
      height: 21vh;
      width: 98%;
    }

    .troll-distance {
      max-width: 95%;
      margin: 20px auto 0;
      height: 19vh;
    }

    .troll-walking, .king-idle {
      height: 19vh;
    }

    .troll-dead {
      max-width: 35vw;
    }

    .king-win, .king-lose {
      max-width: 15%;
    }

    .warrior-win {
      max-width: 12%;
    }

    .archer-win {
      max-width: 13%;
    }

    .win-modal h1, .lose-modal h1 {
      font-size: 25px;
    }

    .win-modal button, .lose-modal button {
      font-size: 12px;
      width: 150px;
      height: 50px;
      border: 2px solid black;
    }
  }

@media only screen
  and (min-device-width: 814px)
  and (max-device-width: 1024px) {
    header img {
      width: 600px;
    }

    .intro-text p {
      font-size: 19px;
    }

    .container {
      width: 95%;
    }

    .header-row {
      margin-bottom: 0px;
    }

    .stat-font {
      font-size: 20px;
      margin-top: 14%;
      color: gold;
      letter-spacing: .5px;
      font-family: "Bangers", cursive;
    }

    aside div {
      width: 90%;
      height: 66px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../images/game-stats.png);
      background-size: 100% 100%;
      margin: 2px 0px;
    }

    .card {
      height: 30%;;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 0;
      position: relative;
    }

    .card-front {
      height: 22vh;
      width: 100%;
      background-size: 100% 100%;
    }

    .card-back {
      height: 22vh;
      width: 100%;
    }

    .troll-distance {
      max-width: 95%;
      margin: 40px auto 20px;
      height: 100px;
    }

    .troll-walking, .king-idle {
      height: 100px;
    }

    .troll-dead {
      max-width: 40vw;
    }

    .king-win, .king-lose {
      max-width: 15%;
    }

    .warrior-win {
      max-width: 12%;
    }

    .archer-win {
      max-width: 13%;
    }

    .win-modal h1, .lose-modal h1 {
      font-size: 45px;
    }

    .win-modal button, .lose-modal button {
      font-size: 30px;
      width: 195px;
      height: 130px;
      border: 2px solid black;
    }
  }

@media only screen
and (min-device-width: 1025px)
and (max-device-width: 1366px) {

  #background {
    height: 99vh;
  }

  .intro-text p {
    font-size: 26px;
  }

  aside div {
    width: 90%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/game-stats.png);
    background-size: 100% 100%;
    margin: 2px 0px;
  }

  header img {
    width: 900px;
  }

  .container {
    width: 95%;
  }

  .header-row {
    margin-bottom: 0px;
  }

  .stat-font {
    font-size: 27px;
    margin-top: 14%;
    color: gold;
    letter-spacing: .5px;
    font-family: "Bangers", cursive;
  }

  .card {
    height: 30%;;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
  }

  .card-front {
    height: 21vh;
    width: 100%;
    background-size: 100% 100%;
  }

  .card-back {
    height: 22vh;
    width: 100%;
  }

  .troll-distance {
    max-width: 95%;
    margin: 40px auto 20px;
    height: 155px;
  }

  .troll-walking, .king-idle {
    height: 150px;
  }

  .troll-dead {
    max-width: 40vw;
  }

  .king-win, .king-lose {
    max-width: 15%;
  }

  .warrior-win {
    max-width: 12%;
  }

  .archer-win {
    max-width: 13%;
  }

  .win-modal h1, .lose-modal h1 {
    font-size: 45px;
  }

  .win-modal button, .lose-modal button {
    font-size: 12px;
    width: 150px;
    height: 50px;
    border: 2px solid black;
  }
}

@media only screen
and (min-device-width: 1367px) {
  #background {
    height: 99vh;
  }

  .intro-text p {
    font-size: 1.5rem;
  }
  aside div {
    width: 90%;
    height: 8.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/game-stats.png);
    background-size: 100% 100%;
    margin: 2px 0px;
  }

  header img {
    width: 100%;
  }

.stat-font {
    font-size: 25px;
    margin-top: 14%;
    color: gold;
    letter-spacing: .5px;
    font-family: "Bangers", cursive;
  }

  .troll-distance {
    max-width: 95%;
    margin: 30px auto 20px;
    height: 15vh;
  }
}

.hidden {
  display: none;
}
